<div 
    class="personal-container"
    fxLayout="column" 
    fxLayoutAlign="center center">
    <div fxFill fxLayoutAlign="center center" class="title">
        <h3>Change Personal Password</h3>
    </div>
    <div fxFill fxLayout="column" fxFlexAlign="center center">
        <form
            class="k-form" 
            [formGroup]="passwordForm" 
            (ngSubmit)="savePassword()">
            <div fxLayout="column" fxLayoutAlign="center center">
                <div 
                    fxFlexFill 
                    fxLayout="column"
                    class="formfields">
                    <kendo-formfield>
                        <kendo-label [for]="password" text="Password">
                            <input
                                kendoTextBox
                                fxFill
                                type="password" 
                                formControlName="password" 
                                class="passwordfield"
                                #password />
                        </kendo-label>
                    <div class="field-error">
                        <kendo-formerror 
                            *ngIf="passwordFormControl.password.touched 
                                && passwordFormControl.password.errors?.required">
                            {{ requiredMessage }}
                            </kendo-formerror>
                        <kendo-formerror 
                            *ngIf="passwordFormControl.password.touched 
                                && passwordFormControl.password.errors?.invalidPassword">
                            {{ invalidPasswordMessage }}
                        </kendo-formerror>
                    </div>
                    </kendo-formfield>
                </div>
                <div fxFlexFill
                    fxLayout="column"
                    class="formfields">
                        <kendo-label [for]="confirm" text="Confirm Password">
                            <input 
                                kendoTextBox
                                fxFill
                                type="password" 
                                formControlName="confirmPassword" 
                                class="passwordfield"
                                [disabled]="
                                    passwordFormControl.password.errors?.required
                                    || passwordFormControl.password.errors?.invalidPassword"
                                #confirm />
                        </kendo-label>
                        <div class="field-error">
                            <kendo-formerror 
                                *ngIf="passwordFormControl.confirmPassword.touched 
                                    && passwordFormControl.confirmPassword.errors?.required">
                                {{ requiredConfirmMessage }}
                                </kendo-formerror>
                            <kendo-formerror 
                                *ngIf="passwordFormControl.confirmPassword.touched 
                                    && passwordFormControl.confirmPassword.errors?.passwordMismatch">
                                {{ invalidMismatchMessage }}
                            </kendo-formerror>
                        </div>
                </div>
                <div fxFlexFill 
                    fxLayout="row" 
                    fxLayoutAlign="space-around center"
                    [style.margin]="'40px'">
                    <button 
                        type="button"
                        kendoButton 
                        (click)="cancel()">
                        Cancel </button>
                    <button 
                        kendoButton 
                        [disabled]="!passwordForm.valid">
                        Save Password</button>
                </div>
            </div>
        </form>
    </div>
</div>