@import '../personalinfo.component.scss';

@include personal;


.formfields {
    margin-bottom: 25px;
    padding: 0 25px;
}
.formfields h4 {
    margin:0;
}
.field-error {
    line-height: 18px;
    height: 18px;
    font-size: 14px;
    color:firebrick;
}

.passwordfield{
    font-size: 26px;
}